@charset "utf-8";
/*--------------------------------------内页样式--------------------------------------------------------------*/
.header_1{
	position:absolute;}
.header_2{
	position:relative;}
.header_3{
	position:relative;
	background:url("../img/header3.jpg") repeat-x top !important;}
#header{
	width:100%;
	height:126px;}
#header .nav_bg{
	position:absolute;
	bottom:-42px;
	left:0;
	z-index:999;
	display:none;
	width:100%;
	height:42px;
	background: url("../img/icong4.png") repeat-x top;
	border-top:3px solid #cc0717;}
#header .header_main{
	margin:0 auto;
	width:1080px;}
.header_main_top{
	padding-bottom:1px;
	height:30px;
	line-height:30px;}
.header_main_top .left{
	width:330px;}
.header_main_top .left li{
	float:left;
	padding-left:17px;
	background: url("../img/icong9.png") 0 10px no-repeat;}
.header_main_top .left .li1{
	padding-left:8px;
	font-family:"宋体";
	color:#818181;
	background-position: 0 -35px;}
.header_main_top .left .li1 a{
	margin-right:10px;}
.header_main_top .left li a{
	display:inline-block;
	font-family:"宋体";
	color:#818181;}
.header_main_top .left li a:hover{
	color:#00a8c6;}
.header_main_top .right{
	width:600px;}
.header_main_top .right a{
	display:block;
	padding:0 10px;
	float: right;
	font-family:"宋体";
	color:#818181;}
.header_main_top .right a:hover{
	color:#00a8c6;}
.header_main_top .right .nbg{
	padding-right:10px;
	padding-right:10px;
	width:26px;
	background:url("../img/icong5.png") 0 center no-repeat !important;}
.header_main_top .right .last{
	position:relative;
	margin-left:13px;
	padding-left:17px;
	padding-right:0;
	background:url("../img/icong13.png") 0 7px no-repeat;}
.header_main_top .right .last i{
	position:absolute;
	top:30px;
	right:0;
	z-index:1;
	display:none;
	width:279px;
	height:127px;
	overflow:hidden;}
.header_main_top .right .last:hover i{
	display: block;}
.header_main_bottom{
	height:80px;}
.header_main_bottom .logo{
	margin-top:16px;
	width:116px;
	height:48px;}
.header_main_bottom .logo_fr{
	width:98px;}
.header_main_bottom .region{
	position:relative;
	z-index:50;
	padding-left:11px;
	padding-top:19px;
	width:246px;
	height:55px;}
.header_main_bottom .region b{
	font-size:26px;
	color:#474747;}
.header_main_bottom .region .sp1{
	padding-left:10px;
	color:#919191;
	cursor:pointer;}
.header_main_bottom .region  .region_t{
	position:absolute;
	top:70px;
	left:0;
	z-index:1;
	display:none;
	padding:25px 35px;
	width:452px;
	border-radius:3px;
	background:#f2f2f2;}
.header_main_bottom .region .t_title{
	padding-bottom:15px;
	font-size:20px;
	color:#000;
	border-bottom:1px dashed #797979;}
.header_main_bottom .region .t_title img{
	cursor:pointer;}
.header_main_bottom .region .t_list{
	margin-top:17px;
	width:480px;}
.header_main_bottom .region .t_list span{
	float:left;
	font-size:16px;
	color:#666666;}
.header_main_bottom .region .t_list p{
	float:left;
	font-size:16px;
	width:423px;}
.header_main_bottom .region .t_list p a{
	float:left;
	margin-right:14px;
	display:inline-block;
	color:#666666;}
/*.header_main_bottom .region .t_list p a:hover{
	color:#17b8bb;}*/
.header_main_bottom .region .t_list p .on{
	color:#000;}
.header_main_bottom .region .t_list p .on:hover{
	font-weight:700;}
.header_main_bottom .mannav{}
.header_main_bottom .mannav li{
	float:left;
	position:relative;
	padding:0 13px;
	height:80px;
	line-height:80px;
	background:url("../img/bg3.jpg") right center no-repeat;}
.header_main_bottom .mannav li a{
	font-size:16px;
	color:#212121;}
.header_main_bottom .mannav li a:hover{
	text-decoration:underline;}
.header_main_bottom .mannav .nbg{
	padding-right:0;}
.header_main_bottom .mannav .pull_down{
	display: none;
	position:absolute;
	top:80px;
	left:0;
	z-index:999;
	padding:20px 20px 8px 20px;
	width:408px;
	border-radius:4px;
	background:#00c8cd;}
.header_main_bottom .mannav .pull_down .t_t{
	width:428px;
	line-height:1em;
	overflow:hidden;}
.header_main_bottom .mannav .pull_down .t_t span{
	float:left;
	display:block;
	line-height:1.1em;
	font-size:16px;
	color:#b4feff;}
.header_main_bottom .mannav .pull_down .t_t p{
	float:left;
	width:370px;}
.header_main_bottom .mannav .pull_down .t_t p a{
	display:inline-block;
	padding-right:10px;
	padding-bottom:10px;
	color:#b4feff;}
.header_main_bottom .mannav .pull_down .t_t p a:hover{
	text-decoration:none;}
.header_main_bottom .mannav .pull_down .t_t p .on{
	color:#fff;}
.header_main_bottom .mannav .pull_down .t_t p .on:hover{
	font-weight:700;
	text-decoration:none;}
.header_main_bottom .mannav .pull_down i{
	position:absolute;
	top:-10px;
	left:41px;
	z-index:1;
	display:block;
	width:13px;
	height:10px;
	background:url("../img/icong4.png") 0 0 no-repeat;}
/*登陆*/
.landing{
	position: relative;
	width:1080px;
	height:468px;}
.landing .landing_man{
	position:absolute;
	left:-420px;
	top:0;
	z-index:1;
	width:1920px;
	height:468px;
	overflow:hidden;
	background:url("../img/demo/img12.jpg") 0 0 no-repeat;}
.landing .landing_man .landing_content{
	position:absolute;
	right:420px;
	top:67px;
	z-index:1;
	padding:20px;
	width:306px;
	overflow:hidden;
	border:1px solid #ebebeb;
	background:#fff;}
.landing_content .title{
	font-size:18px;
	color:#666666;}
.landing_content .title a{
	float:right;
	display:inline-block;
	margin-top:5px;
	padding-left:22px;
	height:16px;
	line-height:16px;
	font-size:14px;
	color:#2ec3c4;
	background:url("../img/icong19.png") left center no-repeat;}
.zhuche .landing_man .zhuche_t2{
	margin:60px auto 0 auto;
	padding:0 30px;
	width:665px;
	overflow:hidden;
	background:#fff;
	border:1px solid #ebebeb;}
.landing .landing_man .zhuche_t2 td{
	height:38px;
	}
.landing_content .msg{
	margin-top:15px;
	padding-left:40px;
	width:266px;
	height:26px;
	line-height:26px;
	color:#666666;
	background:url("../img/bg16.jpg") 0 0 no-repeat;}
.landing_content form input{
	margin-top:10px;
	padding:0 50px;
	width:206px;
	height:40px;
	overflow:hidden;
	font-size:14px;
	color:#333333;
	border:none;
	background:url("../img/icon3.jpg") 0 0 no-repeat;}
.landing_content form .password{
	margin-top:20px;
	background-position: 0 bottom;}
.landing_content form .c{
	padding-top:20px;}
.landing_content form a{
	display:inline-block;
	height:12px;
	line-height:12px;
	color:#666666;}
.landing_content form .a1{
	padding-left:15px;
	background:url("../img/icong3.png") left center no-repeat;}
.landing_content form .submit{
	margin-top:20px;
	padding:0;
	width:306px;
	background:url("../img/bg17.jpg") 0 0 no-repeat;}
	
/*玩法详情*/
.banner{
	position:relative;
	width:1080px;
	height:286px;}
.banner .banner_nr{
	position:absolute;
	left:-420px;
	top:0;
	z-index:1;
	width:1920px;
	height:286px;}
.columns{
	position:relative;
	width:1080px;
	height:114px;}
.columns .column_ct{
	position:absolute;
	left:-420px;
	top:0;
	z-index:1;
	width:1920px;
	height:114px;
	background:url("../img/icong20.jpg") repeat-x top;}
.column_ct .status{
	margin:0 auto;
	width:1080px;
	height:40px;
	line-height:40px;
	overflow:hidden;}
.column_ct .status .fl{
	color:#cdfdff;}
.column_ct .status .fl a{
	display:inline-block;
	color:#cdfdff;}
.column_ct .status .fl a:hover{
	text-decoration:underline;}
.column_ct .status .fl .a1{
	padding-left:16px;
	background:url("../img/bg15.jpg") left center no-repeat;}
.column_ct .status .fr{
	color:#cdfdff;}
.column_ct .status .fr a{
	font-size:16px;
	color:#cdfdff;}
.column_ct .status .fr .a1{
	display:inline-block;
	margin-left:7px;
	width:58px;
	height:20px;
	line-height:20px;
	font-size:12px;
	text-align:center;
	border:1px solid #d7f9f9;
	border-radius:10px;}
.column_ct .status .fr .a1:hover{
	color:#fff;
	background:#f38708;
	border:1px solid #f38708;}
.column_ct .title{
	margin:0 auto;
	width:1080px;
	height:73px;
	line-height:73px;}
.column_ct .title .fl{
	padding-left:20px;
	font-size:24px;
	color:#010101;
	background: url("../img/icong16.png") 0 center no-repeat;}
.column_ct .title .fl span{
	margin-left:5px;
	font-size:12px;
	color:#666666;}
.column_ct .title .fr a{
	display:inline-block;
	line-height:26px;}
.column_ct .title .fr .a1{
	padding-left:36px;
	width:78px;
	height:26px;
	color:#f6fcfc;
	border-radius:3px;
	background:url("../img/icong21.png") 8px 0 no-repeat #44c7c8;}
.column_ct .title .fr .a1:hover{
	background:url("../img/icong21.png") 8px 0 no-repeat #f39500;}
.column_ct .title .fr .a2{
	margin-left:10px;
	padding-left:15px;
	padding-right:15px;
	height:26px;
	text-align:center;
	color:#fff;
	background:#999999;
	border-radius:3px;}
.column_ct .title .fr .a2:hover{
	background-color: #f39500;}
.column_ct .title .fr .a3{
	height:26px;
	padding-left:15px;
	padding-right:15px;
	color:#f6fcfc;
	border-radius:3px;
	background-color: #44c7c8;
	text-align: center;
	margin-left:10px;
}
.column_ct .title .fr .a3:hover{
	background-color: #f39500;}
.c_ubb{
	padding:20px 0;
	width:1080px;
	line-height:1.8;
	color:#333333;
	font-size:16px;
	overflow:hidden;}
.c_ubb p{
	padding-bottom:16px;}
.public .public_title{
	margin-top:30px;
	margin-bottom:25px;
	background: url("../img/bg14.jpg") repeat-x center;}
.public .public_title .title{
	padding-left:17px;
	padding-right:10px;
	height:19px;
	line-height:19px;
	font-size:20px;
	color:#323232;
	background:#fff;
	border-left:3px solid #44c7c8;}
.public .public_title .title_r{
	padding-left:5px;
	background:#fff;}
.public .public_title .title_r a{
	margin-left:5px;}
.public .public_title .more{
	display:block;
	width:57px;
	height:21px;
	line-height:21px;
	overflow:hidden;
	color:#7c8080;
	text-indent:11px;
	background:url("../img/bg9.jpg") 0 0 no-repeat #fff;}
.public .public_title .more:hover{
	color:#fff;
	background-position: 0 bottom;}
.public .public_title .a1{
	float:right;
	display:block;
	padding:0 10px;
	height:19px;
	line-height:19px;
	overflow:hidden;
	color:#7c8080;
	border:1px solid #a6aaaa;
	border-radius:10px;
	background:#fff;}
.public .public_title .a1:hover{
	color:#fff;
	border:1px solid #44c7c8;
	background:#44c7c8;}
.public .list_m{
	width:1080px;
	overflow:hidden;}
.public .list_m ul{
	width:1110px;}
.public .list_m li{
	float:left;
	margin-right:28px;
	width:249px;
	overflow:hidden;}
.public .list_m li a{
	cursor:pointer;}
.public .list_m li:hover i{
	display:block;}
.public .list_m .img{
	position:relative;
	width:246px;
	height:166px;
	overflow:hidden;}
.public .list_m .img i{
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	background:url("../img/icong34.png");}
.public .list_m .img_cn h2{
	padding:15px 0 10px 0;}
.public .list_m .img_cn h2 span{
	margin-right:5px;
	font-size:12px;
	font-weight:100;
	color:#666666;}
.public .list_m .img_cn h2 a{
	font-size:16px;
	font-weight:100;
	color:#282828;}
.public .list_m .img_cn h2 a:hover{
	color:#00a7a8;}
.public .list_m .img_cn p{
	line-height:1.8;
	font-family:"宋体";
	color:#666666;}
.public .list_m .img_cn p span{
	display:inline-block;
	width:70px;
	color:#333333;}
.merge_ubb{
	margin-top:20px;
	width:1078px;
	border:1px solid #e5e6e6;}
.merge_ubb .title{
	margin-top:16px;
	margin-right:22px;
	background:url("../img/bg14.jpg") repeat-x center;}
.merge_ubb .title span{
	display: inline-block;
	padding-left:17px;
	padding-right:10px;
	font-size:18px;
	color:#323232;
	border-left:3px solid #44c7c8;
	background:#fff;}
.merge_ubb .ubb{
	padding:22px;
	line-height:1.8;
	font-size:14px;
	color:#333333;}
.yacht_slide{
	margin-top:9px;
	background:#f4f8fb;}
.yacht_slide .title{
	margin-top:16px;
	margin-right:22px;
	background: url("../img/icong23.png") repeat-x center;}
.yacht_slide .title span{
	display: inline-block;
	padding-left:17px;
	padding-right:10px;
	font-size:18px;
	line-height:1em;
	color:#323232;
	border-left:3px solid #44c7c8;
	background:#f4f8fb;}
.yacht_slide .title .fr{
	padding-left:10px;
	background:#f4f8fb;}
.yacht_slide .title a{
	display:block;
	width:85px;
	height:21px;
	line-height:19px;
	text-indent:13px;
	color:#1e2727;
	background:url("../img/icong22.png") 0 top no-repeat #f4f8fb;}
.yacht_slide .title a:hover{
	color:#fff;
	background-position: 0 bottom;}
.yacht_slide .title_cn {
	margin-top:15px;
	padding:0 20px;}
.yacht_slide .title_cn h3{
	font-size:20px;
	font-weight:100;
	color:#010101;}
.yacht_slide .title_cn p{
	padding-top:10px;
	font-size:14px;
	color:#666666;}
.yacht_slide .title_cn p span{
	display:inline-block;
	width:80px;
	color:#000;}
.slides{
	position:relative;
	margin-top:25px;
	width:1080px;
	height:520px;}
.slides .slide_n{
	position:relative;
	width:1080px;
	height:520px;
	overflow:hidden;}
.slides .left{
	position:absolute;
	left:-73px;
	top:188px;
	z-index:1;
	display:block;
	width:43px;
	height:75px;
	background:url("../img/icong24.png") 0 0 no-repeat;}
.slides .right{
	left: auto;
	right:-73px;
	background-position: right 0;}
.slides .left:hover{
	background-position: 0 bottom;}
.slides .right:hover{
	background-position: right bottom;}
.slides .suzi{
	position: absolute;
	bottom:21px;
	right:30px;
	z-index:99;
	font-size:20px;
	color:#fff;}
.columns1{
	height:40px;}
.columns1 .column_ct1{
	height:40px;}
.content_info{
	margin-top:15px;
	border:1px solid #e5e5e5;
	border-bottom:4px solid #44c7c8;}
.content_info .title{
	height:63px;
	line-height:63px;
	background:#f4f8fb;}
.content_info .title .fl{
	padding-left:35px;
	font-size:24px;
	color:#010101;
	background:url("../img/icong16.png") 21px center no-repeat;}
.content_info .title .fr{
	margin-right:28px;
	color:#666666;}
.content_info .title .fr a{
	display:inline-block;
	margin-right:5px;
	width:73px;
	height:26px;
	line-height:26px;
	text-align:center;
	font-size:14px;
	color:#fff;
	border-radius:5px;
	background:#44c7c8;}
.content_info .title .fr a:hover{
	color:#fff;
	background:#f38708;}
.content_info .title .fr i{
	margin-right:5px;
	font-size:26px;
	font-weight:700;
	color:#f38708;
	line-height:1em;}
.content_info .title_n{
	padding:20px 0 0 35px;
	border-top:1px solid #e5e5e5;
	background:#fff;}
.content_info .title_n .top{
	padding-bottom:20px;
	border-bottom:1px dashed #999999;}
.content_info .title_n .top table{
	table-layout:fixed;}
.content_info .title_n .top table td{
	font-size:14px;
	color:#666666;}
.content_info .title_n .top .td1{
	color:#000;}
.content_info .title_n .bottom{
	padding-top:20px;
	padding-bottom:25px;}
.content_info .title_n .bottom p{
	font-size:14px;
	color:#666666;}
.content_info .title_n .bottom p span{
	margin-left:5px;
	color:#000;}
.content_info .title_n .bottom p i{
	display:inline-block;
	margin-left:10px;
	width:53px;
	height:16px;
	line-height:16px;
	text-align:center;
	font-style: normal;
	font-size:12px;
	color:#fff;
	background:#f38708;
	border-radius:3px;}
.header_3{
	height:125px !important;}
.header_3 .t_right a{
	color:#fff !important;}
.header_3 .t_right span{
	float:right;
	display:inline-block;
	margin-left:15px;
	padding-left:15px;
	color:#fff;
	background: url("../img/icong25.png") left center no-repeat;}
.header_3 .t_right .a4{
	background:url("../img/icong13_1.png") left center no-repeat !important;}
.header_3 .t_right .a3{
	padding-left:15px;
	background: url("../img/icong25.png") left center no-repeat !important;}
.members_banner{
	margin-top:10px;
	width:1080px;
	height:80px;
	overflow:hidden;}
.members_content{
	margin-top:10px;
	padding:26px 24px 30px 32px;
	width:1022px;
	overflow:hidden;
	border:1px solid #e5e5e5;
	border-bottom:4px solid #44c7c8;}
.members_title .img{
	width:119px;
	height:119px;
	overflow:hidden;
	border-radius:4px;}
.members_title .img_name{
	padding-left:20px;
	width:400px;}
.members_title .img_name h2{
	font-size:26px;
	font-weight:100;
	color:#000;}
.members_title .img_name h2 span{
	margin-right:10px;
	font-weight:700;
	color:#44c7c8;}
.members_title .img_name p{
	padding-top:20px;
	line-height:16px;
	font-size:14px;
	color:#333333;}
.members_title .img_name p i{
	display:inline-block;
	margin:0 20px 0 10px;
	width:53px;
	height:16px;
	line-height:16px;
	overflow:hidden;
	text-align:center;
	font-size:12px;
	color:#fde8e3;
	font-style:normal;
	background:#cc3816;
	border-radius:3px;}
.members_title .img_name p .sp1{
	font-size:12px;
	color:#6d6d6d;}
.members_title .img_name p .sp2{
	display:inline-block;
	margin-left:5px;
	padding-left:24px;
	height:17px;
	line-height:17px;
	font-size:20px;
	background:url("../img/icong26.png") 0 center no-repeat;}
.members_title .img_name .links{
	padding-top:14px;
	font-family:"宋体";
	color:#6d6d6d;}
.members_title .img_name .links a{
	color:#6d6d6d;
	text-decoration:underline;}
.members_title .img_name .links a:hover{
	color:#44c7c8;}
.members_title .right{
	width:321px;}
.members_title .right p{
	font-family:"宋体";
	text-align:right;}
.members_title .right .p1{
	padding-bottom:9px;
	color:#6d6d6d;
	border-bottom:1px dashed #d2d2d2;}
.members_title .right .p2{
	margin-top:20px;
	font-size:14px;
	color:#000;}
.members_title .right .p2 a{
	margin-left:5px;
	color:#44c7c8;
	text-decoration:underline;}
.members_title .right .p3{
	position:relative;
	padding-top:14px;
	color:#4b4b4b;
	text-align:left;}
.members_title .right .p3 i{
	position:absolute;
	left:0;
	top:-17px;
	z-index:1;
	display:block;
	width:47px;
	height:24px;
	overflow:hidden;
	background:url("../img/icong27.png") 0 0 no-repeat;}
.order_list{
	padding-bottom:71px;
	width:1080px;
	overflow:hidden;}
.order_list .order_list_left{
	width:206px;
	border:1px solid #eeeeee;}
.order_list_left ul{
	width:206px;
	overflow:hidden;}
.order_list_left ul li{
	float:left;
	width:206px;
	height:56px;
	line-height:56px;
	background:url("../img/bg18.jpg") 20px center no-repeat;
	border-bottom:1px solid #eeeeee;}
.order_list_left ul li a{
	display:block;
	font-size:18px;
	color:#333333;
	text-indent:39px;}
.order_list_left ul li a i{
	display:inline-block;
	margin-left:10px;
	width:8px;
	height:8px;
	vertical-align:middle;
	background: url("../img/icong28.png") 0 0 no-repeat;}
.order_list_right{
	width:870px;
	min-height:300px;
	border:1px solid #eeeeee;}
.order_list_right .choose{
	width:870px;
	height:47px;
	line-height:47px;
	border:1px solid #eeeeee;
	border-left:none;}
.order_list_right .choose a{
	float:left;
	display:block;
	padding:0 43px;
	height:47px;
	color:#999999;
	border-right:1px solid #eeeeee;}
.order_list_right .choose a span{
	color:#44c7c8;}
.order_list_right .choose .current{
	height:48px;
	line-height:48px;
	color:#333333;
	background:#fff;}
.order_list_right .order_l{
	padding: 0 30px 30px 30px;}
.order_list_right .order_l .d_d li{
	margin-top:21px;}
.order_list_right .order_l .d_d li a{
	cursor:pointer;}
.order_list_right .order_l .order_h{
	height:31px;
	line-height:31px;
	background:#e8f9f9;}
.order_list_right .order_l .order_h span{
	float:left;
	margin-left:15px;
	display:inline-block;
	color:#333333;}
.order_list_right .order_l .order_h a{
	float:right;
	display:inline-block;
	margin-right:27px;
	color:#333333;}
.order_list_right .order_l .order_cn{
	margin-top:19px;
	width:811px;}
.order_list_right .order_l .order_cn .img{
	position:relative;
	width:141px;
	height:94px;
	overflow:hidden;}
.order_list_right .order_l .order_cn .img i{
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	display:none;
	width:100%;
	height:100%;
	background:url("../img/icong34.png");}
.order_list_right .order_l .order_cn .img:hover i{
	display:block;}
.order_list_right .order_l .order_cn .img_cn{
	position:relative;
	padding-left:19px;
	width:650px;}
.order_list_right .order_l .order_cn .img_cn h3{
	font-size:18px;
	font-weight:100;
	color:#010101;}
.order_list_right .order_l .order_cn .img_cn p{
	font-family:"宋体";
	color:#666666;}
.order_list_right .order_l .order_cn .img_cn p span{
	display:inline-block;
	margin-right:30px;
	color:#333333;}
.order_list_right .order_l .order_cn .img_cn .dingj{
	position:absolute;
	top:49px;
	right:27px;
	z-index:1;
	display:block;
	width:73px;
	height:26px;
	line-height:26px;
	overflow:hidden;
	font-size:12px;
	color:#fff;
	text-align:center;
	background:#44c7c8;
	border-radius:4px;}
.order_list_right .order_l .order_cn .img_cn .dingj:hover{
	background:#f38708;}
.order_public .public_title{
	margin-top:30px;
	background: url("../img/bg14.jpg") repeat-x center;}
.order_public .public_title .title{
	padding-left:17px;
	padding-right:10px;
	height:19px;
	line-height:19px;
	font-size:20px;
	color:#323232;
	background:#fff;
	border-left:3px solid #44c7c8;}
.order_public .public_title .title_r{
	padding-left:5px;
	background:#fff;}
.order_public .public_title .title_r a{
	margin-left:5px;}
.order_public .public_title .more{
	display:block;
	width:57px;
	height:21px;
	line-height:21px;
	overflow:hidden;
	color:#7c8080;
	text-indent:11px;
	background:url("../img/bg9.jpg") 0 0 no-repeat #fff;}
.order_public .public_title .more:hover{
	color:#fff;
	background-position: 0 bottom;}
.order_public .public_title .a1{
	float:right;
	display:block;
	padding:0 10px;
	height:19px;
	line-height:19px;
	overflow:hidden;
	color:#7c8080;
	border:1px solid #a6aaaa;
	border-radius:10px;
	background:#fff;}
.order_public .public_title .a1:hover{
	color:#fff;
	border:1px solid #44c7c8;
	background:#44c7c8;}
.order_public .list_p ul li{
	margin-top:20px;}
.order_public .list_p ul li a{
	cursor:pointer;}
.order_public .list_p .img{
	position:relative;
	width:198px;
	height:132px;
	overflow:hidden;}
.order_public .list_p .img i{
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	display:none;
	width:100%;
	height:100%;
	background:url("../img/icong34.png");}
.order_public .list_p .img:hover i{
	display:block;}
.order_public .list_p .img_cn{
	padding:0 0 0 17px;
	width:595px;
	height:132px;}
.order_public .list_p .img_cn .top h2 a{
	font-size:20px;
	font-weight:100;
	color:#010101;}
.order_public .list_p .img_cn .top h2 a:hover{
	color:#44c7c8;}
.order_public .list_p .img_cn .top .talta{
	padding-bottom:14px;
	font-family:"宋体";}
.order_public .list_p .img_cn .top .talta talta{
	table-layout:fixed;}
.order_public .list_p .img_cn .top .talta td{
	vertical-align: bottom;}
.order_public .list_p .img_cn .top .talta span{
	color:#666666;}
.order_public .list_p .img_cn .top .talta .td8{
	color:#333333;}
.order_public .list_p .img_cn .top .talta .td8 b{
	font-family:Helvetica;
	font-size:30px;
	line-height:0.5em;
	font-weight:100;}
.order_public .list_p .img_cn .top .talta .apply{
	display:block;
	width:73px;
	height:26px;
	line-height:26px;
	text-align:center;
	color:#fff;
	background:#44c7c8;
	border-radius:5px;}
.order_public .list_p .img_cn .top .talta .apply:hover{
	background:#f38708;}
.order_public .list_p .img_cn .top .message{
	padding-top:20px;
	font-family:"宋体";
	color:#333333;
	border-top:1px dashed #dadfe6;}
.order_public .list_p .img_cn .top .message span,.order_public .list_p .img_cn .top .message p{
	float:left;}
.order_public .list_p .img_cn .top .message span{
	color:#666666;}
.order_public .list_p .img_cn .top .message p i{
	margin-left:5px;
	display:inline-block;
	width:53px;
	height:16px;
	line-height:16px;
	font-style:normal;
	color:#fff;
	text-align:center;
	background:#f38708;
	border-radius:3px;
	vertical-align:middle;}
.order_public .list_p .img_cn .top .message .p1{
	margin-left:5px;
	width:140px;}

.order_public .list_w ul{
	width:1110px;}
.order_public .list_w ul li{
	margin-top:20px;
	margin-right:28px;}
.order_public .list_w ul li a{
	cursor:pointer;}
.order_public .list_w .img{
	position:relative;
	width:196px;
	height:133px;
	overflow:hidden;}
.order_public .list_w .img i{
	display:none;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	width:100%;
	height:100%;
	background:url("../img/icong34.png");}
.order_public .list_w .img:hover i{
	display:block;}
.order_public .list_w .img_cn{
	width:590px;
	padding-left:19px;}
.order_public .list_w .img_cn h2{
	padding-bottom:10px;
	font-family:"微软雅黑";
	font-weight:100;}
.order_public .list_w .img_cn h2 span{
	margin-left:10px;
	color:#666666;}
.order_public .list_w .img_cn h2 a{
	font-size:22px;
	color:#242525;}
.order_public .list_w .img_cn h2 a:hover{
	color:#33c5c7;}
.order_public .list_w .img_cn p{
	font-family:"宋体";
	line-height:1.8;
	color:#4b4b4b;}
.order_public .list_w .img_cn .view{
	display:block;
	margin-top:18px;
	width:57px;
	height:21px;
	overflow:hidden;
	background:url("../img/icon1.jpg") right 0 no-repeat;}
.order_public .list_w .img_cn .view:hover{
	background-position: left 0;}

.order_public .list_m{
	margin-top:30px;
	width:814px;
	overflow:hidden;}
.order_public .list_m ul{
	width:850px;}
.order_public .list_m li{
	float:left;
	margin-right:32px;
	width:249px;
	overflow:hidden;}
.order_public .list_m li a{
	cursor:pointer;}
.order_public .list_m .img{
	position:relative;
	width:246px;
	height:166px;
	overflow:hidden;}
.order_public .list_m .img i{
	display:none;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	width:100%;
	height:100%;
	background:url("../img/icong34.png");}
.order_public .list_m .img:hover i{
	display:block;}
.order_public .list_m .img_cn h2{
	padding:15px 0 10px 0;}
.order_public .list_m .img_cn h2 a{
	font-size:16px;
	font-weight:100;
	color:#282828;}
.order_public .list_m .img_cn h2 a:hover{
	color:#00a7a8;}
.order_public .list_m .img_cn p{
	font-family:"宋体";
	color:#4b4b4b;}
.order_public .list_m .img_cn i{
	margin-top:15px;
	display:block;
	font-style:normal;
	color:#00a7a8;}

/*站点介绍*/
.site{
	margin-top:13px;
	width:1080px;}
.site .site_left{
	width:206px;
	overflow:hidden;}
.site .site_left dl{
	display:block;
	background:#fff;
	border:1px solid #eeeeee;
	border-top:6px solid #12c1c7;}
.site .site_left .tab{
	padding-left:39px;
	width:167px;
	height:56px;
	line-height:56px;
	overflow:hidden;
	font-size:18px;
	color:#333333;
	background:url("../img/bg18.jpg") 20px center no-repeat;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;}
.site .site_left .tab_lk{
	padding-bottom:17px;
	background:#f4f8fb;}
.site .site_left .tab_lk a{
	display:block;
	margin-top:16px;
	padding-left:39px;
	font-size:14px;
	color:#333333;}
.site .site_left .tab_lk a:hover{
	color:#12c1c7;
	background: url("../img/icong28.png") 22px center no-repeat;}
.site .site_left .tab_lk .current{
	color:#12c1c7;
	background: url("../img/icong28.png") 22px center no-repeat;}
.site .site_right{
	padding:0 32px;
	width:808px;
	border:1px solid #eeeeee;
	border-left:none;}
.site .site_right h2{
	padding:20px 0;
	font-size:24px;
	font-weight:100;
	color:#333333;
	text-align:center;
	border-bottom:1px dashed #eeeeee;}
.site .site_right .ubb{
	padding:24px 0 30px 0;
	font-family:"宋体";
	font-size:14px;
	color:#333333;
	line-height:1.9;
	min-height:300px;}
.site .site_right .ubb p{
	padding-bottom:15px;}
.rent_manage ul{
	padding-top:21px;}
.rent_manage li{
	position:relative;
	margin:0 !important;
	height:169px;
	overflow:hidden;}	
.rent_manage .order_h span i{
	font-style:inherit;
	color:#cc3816;}
.rent_manage .order_cn .img_cn{
	width:}
.rent_manage .order_cn .img_cn h3 a{
	display:inline-block;
	margin-left:10px;
	font-size:12px;
	color:#333333;}
.rent_manage .order_cn .img_cn h3 a:hover{
	color:#44c7c8;}
.rent_manage .rent_cz{
	position: absolute;
	right:0;
	top:0;
	z-index:1;
	width:131px;}
.rent_manage .rent_cz .title{
	width:131px;
	height:31px;
	line-height:31px;
	color:#333333;
	text-align:center;
	background:#d9f1f1;}
.rent_manage .rent_cz .title_c{
	width:131px;
	height:138px;
	background:#f6fcfc;}
.rent_manage .rent_cz .title_c a{
	display:block;
	margin-top:4px;
	color:#333333;
	text-decoration:underline;}
.rent_manage .rent_cz .title_c a:hover{
	color:#44c7c8;
	text-decoration:underline;}
.rent_manage .rent_cz .title_c .a1{
	margin-top:8px;
	width:73px;
	height:26px;
	line-height:26px;
	text-align:center;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	border-radius:3px;
	background:#44c7c8;}
.rent_manage .rent_cz .title_c .a1:hover{
	color:#fff;
	background:#f38708;
	text-decoration:none;}
.rent_manage .rent_cz .title_c .a2{
	width:51px;
	height:17px;
	line-height:17px;
	text-align:center;
	color:#333333;
	background:#f6fcfc;
	border:1px solid #aeb1b1;
	border-radius:10px;
	text-decoration:none;}
.rent_manage .rent_cz .title_c .a2:hover{
	color:#fff;
	background:#44c7c8;
	border:1px solid #44c7c8;
	text-decoration:none;}
.rent_manage_fengye{
	display:block;
	padding-top:20px;
	text-align:right;
	background:#fff;}
.rent_manage_fengye a{
	display:inline-block;
	color:#7a7b75;
	margin-left:2px;
	padding:0 15px;
	height:38px;
	line-height:38px;
	overflow:hidden;
	text-align:center;
	border:1px solid #e5e6e6;}
.rent_manage_fengye .current{
	background:#44c7c8;
	color:#FFFFFF;}
.rent_manage_fengye a:hover{
	color:#fff;
	border:1px solid #e5e6e6;
	background:#44c7c8;}
.rent_manage_fengye .left{
	font-size:16px;}


/*AA游艇管理*/
.title_a {
	padding:15px 30px;}
.title_a .title_t span{
	float:left;
	display:inline-block;
	margin-top:10px;
	padding-left:10px;
	line-height:1em;
	font-size:14px;
	color:#333333;
	border-left:3px solid #44c7c8}
.title_a .title_t a{
	float:right;
	display:block;
	width:104px;
	height:24px;
	line-height:24px;
	font-family:"宋体";
	color:#7c8080;
	text-align:center;
	border-radius:12px;
	border:1px solid #a6aaaa;}
.title_a .title_t a:hover{
	color:#fff;
	background:#44c7c8;
	border:1px solid #44c7c8;}
.title_a .title_ubb{
	padding-top:10px;
	padding-bottom:10px;
	font-size:12px;
	line-height:1.9;
	color:#666666;}
	
	
/*-----------套餐详情-----------------*/
.public .review{
	width:1080px;
	overflow:hidden;}
.public .review .review_x{
	margin-top:28px;}
.public .review .review_x .right{
	margin-top:10px;
	width:304px;
	height:33px;
	color:#666666;}
.public .review .review_x .right span{
	float:right;
	display: inline-block;
	margin-right:5px;
	width:210px;
	text-align:right;}
.public .review .review_x .right a{
	float:right;
	display:inline-block;
	width:85px;
	height:33px;
	line-height:33px;
	color:#fff;
	text-align:center;
	background:#3dc2c3;
	border-radius:4px;}
.public .review .review_x .right a:hover{
	color:#fff;
	background:#f38708;}
.public .review .review_x .left{
	width:412px;
	overflow:hidden;}
.public .review .review_x .left .p_fl{
	float:left;
	padding-right:10px;
	width:74px;
	color:#666666;
	text-align:center;
	border-right:1px solid #e0e0e0;}
.public .review .review_x .left .p_fl span{
	display:block;
	line-height:1em;
	font-size:42px;
	font-weight:700;
	color:#3dc2c3;}
.public .review .review_x .left .x_fl{
	float:left;
	padding-top:7px;
	padding-left:15px;
	width:187px;
	color:#666666;}
.public .review .review_x .left .x_fl .ul_x{
	padding-bottom:12px;
	display:block;}	
.public .review .review_x .left .x_fl .ul_x li{
	float:left;
	margin-right:2px;
	width:23px;
	height:23px;
	overflow:hidden;
	background:url("../img/icong29.png") right top no-repeat;}
.public .review .review_x .left .x_fl .ul_x .on{
	background-position: left top;}
.public .review .review_list{
	margin-top:25px;
	border-top:1px solid #e9e9e9;}
.public .review .review_list dd{
	margin-top:20px;
	padding-bottom:20px;
	border-bottom:1px dashed #adadad;}
.public .review .review_list .img{
	width:69px;
	height:69px;
	overflow:hidden;}
.public .review .review_list .img_cn{
	padding-left:28px;
	width:970px;
	overflow:hidden;}
.public .review .review_list .img_cn .tab_man{
	display:block;}
.public .review .review_list .img_cn .tab_man li{
	float:left;
	margin-right:18px;
	color:#666666;}
.public .review .review_list .img_cn .tab_man .li1 span{
	display:inline-block;
	margin-left:5px;
	width:53px;
	height:14px;
	line-height:13px;
	text-align:center;
	color:#fff;
	background:#f38708;
	border-radius:2px;}
.public .review .review_list .img_cn .tab_man .li1 .sp1{
	background:#48a7f8;}
.public .review .review_list .img_cn .tab_man .li1 .sp2{
	background:#c559c1;}
.public .review .review_list .img_cn .tab_man .li2{
	margin-right:5px;}
.public .review .review_list .img_cn .tab_man .li2 i{
	float:left;
	display:block;
	margin-top:4px;
	width:12px;
	height:12px;
	overflow:hidden;
	background:url("../img/icong30.png") right top no-repeat;}
.public .review .review_list .img_cn .tab_man .li2 .on{
	background-position: left top;}
.public .review .review_list .img_cn .text{
	padding-top:7px;
	font-size:14px;
	color:#323232;}
.public .review .review_list .p_lsit{
	display:block;
	width:985px;}
.public .review .review_list .p_lsit li{
	float:left;
	margin-top:15px;
	margin-right:17px;
	width:106px;
	height:106px;}
.public .review .more{
	margin-top:20px;
	width:100%;}
.public .review .more a{
	display:block;
	margin:0 auto;
	width:286px;
	height:42px;
	line-height:42px;
	overflow:hidden;
	font-size:14px;
	color:#323232;
	text-align:center;
	border:1px solid #e9e9e9;}
.public .review .more a:hover{
	color:#fff;
	background:#44c7c8;
	border:1px solid #44c7c8;}
	
.package{
	height:159px;}
.package .package_column_ct{
	height:159px;
	background:url("../img/icong20_1.jpg") repeat-x top;}
.package_column_ct .package_title{
	margin:0 auto;
	width:1080px;}
.package_column_ct .package_title .left{
	margin-top:26px;}
.package_column_ct .package_title .left h2{
	padding-left:20px;
	font-size:26px;
	font-weight:100;
	color:#000;
	line-height:1em;
	border-left:3px solid #51c9ca;}
.package_column_ct .package_title .left p{
	padding-top:15px;
	font-size:14px;
	color:#666666;}
.package_column_ct .package_title .left p i{
	margin-right:5px;
	font-size:26px;
	color:#f38708;
	line-height:1em;}
.package_column_ct .package_title .left p span{
	color:#000;}
.package_column_ct .package_title .right{
	padding-top:69px;}
.package_column_ct .package_title .right a{
	display: inline-block;
	font-family:"宋体";
	color:#323232;
	height:20px;
	background: url("../img/icong31.png") 0 0 no-repeat;}
.package_column_ct .package_title .right .a1{
	padding-left:26px;}
.package_column_ct .package_title .right .a2{
	padding-left:22px;
	background-position: left -180px;}
.package_column_ct .package_title .right .a3{
	position:relative;
	padding-left:29px;
	background-position: left -89px;}
.package_column_ct .package_title .right .a3 i{
	position:absolute;
	top:25px;
	right:-50px;
	z-index:1;
	display:none;
	width:179px;
	height:197px;
	background:url("../img/weix.png") 0 0 no-repeat;}
.package_column_ct .package_title .right .a3:hover i{
	display:block;}
.package_column_ct .package_title .right .a4{
	margin-left:5px;
	width:73px;
	height:27px;
	line-height:27px;
	font-size:14px;
	color:#fff;
	text-align:center;
	background:#3dc2c3;
	border-radius:4px;}
.package_column_ct .package_title .right .a4:hover{
	background:#f39500;}
.package_ubb{
	padding-top:23px;
	width:1080px;
	font-family:"宋体";
	font-size:14px;
	color:#333333;
	line-height:1.9;
	overflow:hidden;}
.package_ubb p{
	padding-bottom:15px;}
/*-------------表单--------------------*/
.content_form{
	width:100%;
	height:542px;
	background:url("../img/bg_b.jpg") center 0;}
.content_youshi{
	margin:0 auto;
	width:1080px;}
.content_form .form_t{
	margin:30px auto 0 auto;
	padding:35px 40px 30px;
	width:695px;
	background:#fff;
	border:1px solid #ebebeb;}
.content_form .form_t .title{
	padding-bottom:22px;
	border-bottom:1px dashed #bdbdbd;}
.content_form .form_t .title span{
	display:block;
	padding-left:13px;
	font-size:18px;
	color:#0000;
	line-height:1em;
	border-left:3px solid #49c3c7;}
.content_form .form_t .title h2{
	margin-top:15px;
	font-size:26px;
	font-weight:100;
	color:#000;}
.content_form .form_t .table{
	padding:20px 0 0;}
.content_form .form_t .table table{
	table-layout:fixed;}
.content_form .form_t .table label{
	font-size:14px;
	color:#666666;}
.content_form .form_t .table .inpx1{
	padding:0 22px 0 10px;
	width:235px;
	height:34px;
	line-height:34px;
	background:url("../img/icong35.png") 0 0 no-repeat;
	border:none;}
.content_form .form_t .table .inpx2{
	width:40px;
	height:20px;
	line-height:16px;
	border:1px solid #CCC;
	text-align:center;
	float:left;
	margin:0 5px;}
.content_form .form_t .table .inpx3{
	width:26px;
	height:22px;
	float:left;
	border:1px solid #ccc;
	background:#eee;
	cursor:pointer;}
.content_form .form_t .table .time{
	font-size:14px;
	color:#333333;
	background-position: 0 -39px;}
.content_form .form_t .table select{
	width:64px;
	height:32px;
	font-size:14px;
	border:1px solid #bdbdbd;
	/*background:url("../img/icong35.png") 0 -78px no-repeat;*/}
.content_form .form_t .table .tr1 span{
	margin:0 10px;
	font-size:14px;}
.content_form .form_t .table .chi_s{
	float:left;
	width:134px;
	background:url("../img/icong35.png") 0 -117px no-repeat;}
.content_form .form_t .table .chi_s span{
	display:block;
	float:left;
	width:42px;
	height:34px;}
.content_form .form_t .table .chi_s input{
	float:left;
	padding:0;
	width:47px;
	font-size:16px;
	color:#666666;
	text-align:center;
	border:none;
	background:none;}
.content_form .form_t .table .fe_y{
	padding-left:25PX;
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#666666;}
.content_form .form_t .table .fe_y i{
	margin-left:10PX;
	font-size:18px;
	font-style:inherit;
	color:#333333;}
.content_form .form_t .table .tr4 a{
	display: inline-block;
	color:#666666;}
.content_form .form_t .table .tr4 a:hover{
	text-decoration:underline;}
.content_form .form_t .table .tr4 .a1{
	padding-left:15px;
	color:#666666;
	background:url("../img/icong3.png") 0 center no-repeat;}
.content_form .form_t .table .tr4 .a2{
	padding:0;
	width:128px;
	height:32px;
	line-height:29px;
	text-align:center;
	font-family:"宋体";
	font-size:14px;
	color:#333333;
	border:1px solid #bfbfbf;
	background:#f3f3f3;}
.content_form .form_t .table .tr4 .a3{
	padding:0;
	margin-left:8px;
	width:130px;
	height:32px;
	line-height:29px;
	text-align:center;
	font-family:"宋体";
	font-size:14px;
	color:#fff;
	border:1px solid #bfbfbf;
	background:#b4b4b4;}
.content_form .form_t .table .submit{
	width:695px;
	height:37px;
	border:none;
	background:url("../img/ann1.jpg") 0 0 no-repeat;}
.content_form .form_t .table .submit1an2{
	width:695px;
	height:37px;
	border:none;
	font-size:18px;
	font-weight:bolder;
	color:#FFFFFF;
	background:url("../img/ann1_2.jpg") 0 0 no-repeat;}
.content_form .form_t .table .table_masg{
	padding-bottom:20px;
	font-size:14px;
	color:#666666;}
.content_form .form_t .table .table_masg .fl span{
	margin-left:7px;
	font-size:16px;
	color:#000;}
.content_form .form_t .table .table_masg .fr span{
	margin-left:7px;
	margin-right:25px;
	color:#000;}
.content_form .form_t .table .checkbox{
	margin:0 5px 0 20px;
	width:12px;
	height:16px;
	vertical-align:middle;}
.content_form .form_t .table .bottom_form{
	margin-top:30px;
	padding-top:29px;
	border-top:1px dashed #bdbdbd;}
.content_form .form_t .table .bottom_form .radio{
	margin:0 5px 0 20px;
	width:12px;
	height:16px;
	vertical-align:middle;}
.content_form .form_t .table .bottom_form .tr2 .td2{
	font-family:"宋体";
	color:#000;}
.content_form .form_t .table .bottom_form .tr4 .td2{
	color:#bdbdbd;}
.content_form .form_t .table .textarea{
	padding:8px;
	width:629px;
	height:67px;
	border:1px solid #c1c1c1;
	resize:none;
	font-size:14px;
	color:#333333;}
.content_form .form_t1 .title{
	padding-bottom:5px;
	border:none;}
.content_form .form_t .table .td_box{
	font-family:"宋体";
	font-size:14px;
	color:#333333;}
	
/*模拟下拉框*/
.options{
	position:relative;
	width:267px;
	height:34px;
	background:url("../img/icong35.png") 0 -158px no-repeat;}
.options div{
	cursor:pointer;}
.options div p{
	padding:0 30px 0 11px;
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#333333;}
.options ul{
	position:absolute;
	display:none;
	border:1px solid #bdbdbd;
	background:#fff;}
.options ul li a{
	display:block;
	padding-left:11px;
	line-height:27px;
	color:#666666;}
.options ul li a:hover{
	background:#cccccc;}
	
/*--------注册----------------------*/
.zhuche{}
.zhuche .landing_man{
	background:url("../img/bg_b.jpg") 0 0 no-repeat;}
.zhuche .landing_man .zhuche_t{
	margin:60px auto 0 auto;
	padding:0 30px;
	width:665px;
	height:326px;
	overflow:hidden;
	background:#fff;
	border:1px solid #ebebeb;}
.zhuche .landing_man .title{
	padding-top:25px;
	padding-bottom:18px;
	font-size:18px;
	color:#666666;}
.zhuche .landing_man .title a{
	display:block;
	float:right;
	padding-left:22px;
	font-size:12px;
	color:#2ec3c4;
	background:url("../img/icong19.png") 0 center no-repeat;}
.zhuche .landing_man .zhuche_t .fl{
	width:331px;
	border-right:1px dashed #999999;}
.zhuche .landing_man .zhuche_t input{
	width:306px;
	height:40px;
	line-height:38px;
	font-size:14px;
	color:#333333;
	border:none;}
.zhuche .landing_man .zhuche_t .text_sj{
	padding:0 10px 0 50px;
	width:246px;
	background:url("../img/icon3.jpg") 0 -86px no-repeat;}
.zhuche .landing_man .zhuche_t .text_yz{
	padding:0 15px;
	width:274px;
	height:38px;
	border:1px solid #bdbdbd;}
.zhuche .landing_man .zhuche_t .submit{
	width:147px;
	height:36px;
	line-height:28px;
	color:#333333;
	border:1px solid #bdbdbd;
	background:#f3f3f3;}
.zhuche .landing_man .zhuche_t .submit1{
	margin-left:12px;
	width:147px;
	height:36px;
	line-height:28px;
	color:#fff;
	border:1px solid #bdbdbd;
	background:#b4b4b4;}
.zhuche .landing_man .zhuche_t .fr{
	width:308px;}
.zhuche .landing_man .zhuche_t .fr .text_man{
	padding:0 10px 0 50px;
	width:246px;
	background:url("../img/icon3.jpg") 0 0 no-repeat;}
.zhuche .landing_man .zhuche_t .fr .p2{
	font-size:14px;
	height:38px;
	line-height:38px;
	color:#333333;}
.zhuche .landing_man .zhuche_t .fr .radio{
	margin:0 8px 0 12px;
	width:12px;
	height:12px;
	vertical-align:middle;}
.zhuche .landing_man .zhuche_t .fr .text_mima{
	padding:0 10px 0 50px;
	width:246px;
	background:url("../img/icon3.jpg") 0 -43px no-repeat;}
.zhuche .landing_man .zhuche_t .denglu p {
	padding:25px 0 10px;}
.zhuche .landing_man .zhuche_t .denglu p a{
	display:inline-block;
	padding-left:15px;
	font-family:"宋体";
	font-size:12px;
	color:#666666;
	background:url("../img/icong3.png") 0 center no-repeat;}
.zhuche .landing_man .zhuche_t .denglu p a:hover{
	text-decoration:underline;}
.zhuche .landing_man .zhuche_t .denglu .submit1{
	padding:0;
	margin:0;
	width:664px;
	height:37px;
	border:none;
	background:url("../img/bg19.jpg") 0 0 no-repeat;}
.zhuche .landing_man .zhuche_t .denglu .submit1an{
	padding:0;
	margin:0;
	width:308px;
	height:37px;
	border:none;
	font-size:18px;
	font-weight:bolder;
	color:#FFFFFF;
	background:url("../img/bg17an.jpg") 0 0 no-repeat;}
/*玩家*/
.order_list_right .order_l .title_xx{
	padding-left:15px;
	margin-top:10px;
	margin-bottom:10px;
	width:795px;
	height:59px;
	line-height:59px;
	font-size:16px;
	background:#f8f9fa;}
.order_list_right .order_l .title_xx span{
	display:block;
	padding:0 20px;
	font-size:12px;
	color:#e46e3f;
	text-align:center;
	border-left:1px solid #f1f2f3;}
.order_list_right .order_l .title_table{
	background:#fff;}
.order_list_right .order_l .title_table .even td{
	background:#f8f9fa;}
.order_list_right .order_l .title_table .tr1 td{
	color:#333333;
	background:#f5f9fd;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #44c7c8;
}
.order_list_right .order_l .title_table td{
	height:56px;
	font-size:14px;
	color:#737373;
	border-bottom:1px solid #dce0e2;}

.order_list_right .order_l .xx_list_gl .form_cn{
	padding-left:30px;
	width:780px;
	background:#fff;
	border-top:1px solid #95ccda;}
.order_list_right .order_l .xx_list_gl .form_cn .form_title{
	font-size:14px;
	color:#000;
	height:54px;
	line-height:54px;}
.order_list_right .order_l .xx_list_gl .form_cn .form_title span{
	color:#018db0;}
.order_list_right .order_l .xx_list_gl .form_cn form textarea{
	display:block;
	padding:10px;
	width:663px;
	height:153px;
	border:1px solid #edeff0;
	background:#fff;
	resize:none;}
.order_list_right .order_l .xx_list_gl .form_cn .submit{
	margin:20px 0;
	width:120px;
	height:35px;
	border:none;
	background:#e46e3f;
	font-size:14px;
	font-weight:700;
	color:#fff;}
.order_list_right .order_l .xx_list_gl .form_cn .textarea{
	width:457px;
	height:121px;}
.order_list_right .order_l .xx_list_gl .form1{
	padding-top:30px;}
.order_list_right .order_l .xx_list_gl .form1 input{
	padding:0 10px;
	width:457px;
	height:40px;
	line-height:40px;
	border:1px solid #dbe2e6;}
.order_list_right .order_l .xx_list_gl .form1 label{
	font-size:14px;
	color:#585858;}
.order_list_right .order_l .xx_list_gl .form1 .button1{
	margin-top:4px;
	margin-left:10px;
	padding:0;
	font-size:14px;
	width:90px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	border:none;
	background:#868686;}
.order_list_right .order_l .xx_list_gl .form1 .button2{
	background:#018db0;}
.order_list_right .order_l .xx_list_gl form .denglu{
	padding-top:20px;
	margin-top:30px;
	width:100%;
	border-top:1px solid #edf0f2;}
.order_list_right .order_l .xx_list_gl form .denglu span{
	margin-left:20px;
	font-size:12px;
	color:#808080;}
.order_list_right .order_l .xx_list_gl form .denglu .submit{
	padding:0;
	width:120px;
	height:35px;
	line-height:normal;
	background:#e46e3f;
	border:none;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 86px;
}
.order_list_right .order_l .xx_list_gl .form2{
	padding-top:33px;}
.order_list_right .order_l .xx_list_gl .form2 input{
	padding:0 10px;
	width:219px;
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#808080;
	border:1px solid #dbe2e6;}
.order_list_right .order_l .xx_list_gl .form2 label{
	font-size:14px;
	color:#585858;}
.order_list_right .order_l .xx_list_gl .form2 select{
	width:142px;
	font-size:12px;
	color:#808080;
	border:1px solid #dbe2e6;}
.order_list_right .order_l .xx_list_gl .form2 .textarea{
	width:453px;
	height:105px;
	font-size:12px;
	color:#808080;
	border:1px solid #dbe2e6;}
.order_list_right .order_l .xx_list_gl .form2 .button1{
	margin-top:4px;
	margin-left:10px;
	padding:0;
	width:90px;
	height:35px;
	line-height:35px;
	text-align:center;
	font-size:14px;
	color:#fff;
	border:none;
	background:#868686;}
.order_list_right .order_l .xx_list_gl .form2 .button2{
	background:#44c7c8;}
.order_list_right .order_l .xx_list_gl .form2 .button3{
	margin-top:4px;
	margin-left:10px;
	padding:0;
	width:80px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:14px;
	color:#fff;
	border:none;
	background:#018db0;
	float:left;}
.order_list_right .order_l .xx_list_gl .anniu01{
	padding-top:6px;
	padding-bottom:6px;
	padding-left:15px;
	padding-right:15px;
	background:#FF6600;
	font-size:14px;
	color:#FFFFFF;}
.order_list_right .order_l .xx_list_gl .anniu01:hover{
	background:#44c7c8;}
	
/*评价*/
.order_list_right .window_pj2{
	width:808px;
	height:311px;
	background:#fff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}
.order_list_right .window_pj2 .title_x2{
	padding-left:15px;
	margin-top:10px;
	margin-bottom:10px;
	width:795px;
	height:59px;
	line-height:59px;
	font-size:16px;
	background:#f8f9fa;}
.order_list_right .window_pj2 .title_x2 span{
	display:block;
	padding:0 20px;
	font-size:12px;
	color:#e46e3f;
	text-align:center;
	border-left:1px solid #f1f2f3;}

.order_list_right .window_pj2 .title_content{
	border-top:1px solid #95ccda;
	padding-top: 25px;
	padding-right: 19px;
	padding-bottom: 0;
	padding-left: 19px;
	background-color:#f8f9fa;
}
.order_list_right .window_pj2 .title_content .textarea{
	padding:10px;
	width:750px;
	height:150px;
	color:#333333;
	resize:none;
	border:1px solid #e8e9ea;
	font-size: 16px;
	line-height: 1.6;
}
.order_list_right .window_pj2 .title_content .ping{
	padding-top:20px;}
.order_list_right .window_pj2 .title_content .ping .fl span{
	display:block;
	float:left;
	margin-right:20px;
	height:23px;
	line-height:23px;
	color:#666666;}
.order_list_right .window_pj2 .title_content .ping .fl .rate_span em{
	display: block;
	float:left;
	margin-left:1px;
	width:23px;
	height:23px;
	background: url("../img/pingj.png") right 0 no-repeat;}
.order_list_right .window_pj2 .title_content .ping .fl .rate_span span{
	display:block;
	float:left;
	margin:0 17px;
	width:1px;
	height:23px;
	border-right:1px solid #e0e0e0;}
.order_list_right .window_pj2 .title_content .ping .fl .rate_span i{
	display:block;
	float:left;
	height:23px;
	line-height:23px;
	font-size:33px;
	font-style:inherit;
	color:#3dc2c3;}
.order_list_right .window_pj2 .title_content .ping .fl label{
	display:inline-block;}
.order_list_right .window_pj2 .title_content .ping .fl .file{
	display:inline-block;
	width:102px;
	height:26px;
	overflow:hidden;
	background:url("../img/icong36.png") 0 0 no-repeat;}
.order_list_right .window_pj2 .title_content .ping .fl .submit{
	width:56px;
	height:26px;
	border:none;
	background:url("../img/icong36.png") right center no-repeat;}
.order_list_right .window_pj2 .title_content .ping .fl .submit2{
	width:102px;
	height:26px;
	border:none;
	background:url("../img/icong36.png") 0 0 no-repeat;}
.order_list_right .window_pj2 .title_content .ping p{
	float:right;
	font-family:"宋体";
	color:#929292;
	text-align:right;}
.order_list_right .window_pj2 .title_content .ping p span{
	display:block;
	color:#2e2a2a;}
.order_list_right .window_pj2 .title_content .ping .submit{
	float:right;
	margin-left:5px;
	width:105px;
	height:35px;
	border:none;
	background:url("../img/icong37.png") 0 0 no-repeat;}
